.inicio{
    padding-top: 11%;
}
body{
    background-image: url("imagenes/anotador.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center;
}
.checked {
    text-decoration: line-through;
    background-color: rgb(127, 255, 110);
   
}
.notchecked{
    background-color: rgb(255, 132, 132);
}
.texto{
    text-align:center;
}